html {
  height: 100%;
  box-sizing: border-box;
}

body{
  /*margin-top: 50px;*/
  position: relative;
  min-height: 100%;
}

.pageTop{
  margin-top: 60px;
}

/*navigation bar*/

.navbar-inverse .navbar-brand{
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a{
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #33ff61;
}
.navbar-inverse .navbar-nav > .active > a {
  color: #33ff61;
}
